//base colors
$pale-blue  : #d9e9ef;
$light-blue : #52b1ea;
$mid-blue   : #077dc3;
$dark-blue  : #064771;
$white      : #ffffff;
$orange     : #DB7D0B;
$green      : #4a993e;
$red        : #b33630;
$yellow     : #d6c460;
$black      : #231f20;

$light-grey : #ddd;
$mid-grey   : #6a7076;
$dark-grey  : #222222;
$grey       : #ccc;

//TCDC Colors
$tcdc-blue    : #52c9ec;
$tcdc-midblue : #26a2d1;
$tcdc-lime    : #a3d154;
$tcdc-green   : #bed73c;//#a1cd46;
$tcdc-midgreen: #a2ce47;
$tcdc-darkgreen : #12572b;
$tcdc-orange  : #faa634;
$tcdc-white   : #FAF7F0;
$tcdc-navy    : #006090;
$tcdc-gold    : #f2d752;
$tcdc-mint    : #deeebe;

$link : $tcdc-navy;
$hover-link : $orange;

$transparent-white: rgba(255,255,255,0.7);
$transparent-lightwhite: rgba(255,255,255,0.4);


