//fonts
$base-font-size: 20px;//not needed, already default at 16
$base-line-height:6px;/*set smaller to avoid huge gaps*/
$rhythm-unit: 'rem';

//by typography
$body: 'Open Sans', Georgia, Times New Roman, serif;
$header: 'Rockwell W01', Rockwell, Helvetica, Arial, sans-serif;

//by name
$rockwell: 'Rockwell W01', Rockwell, Helvetica, Arial, sans-serif;

//Extra Bold font-family:'Rockwell W01'; font-weight:800; font-style:normal;
//Bold font-family:'Rockwell W01'; font-weight:700; font-style:normal;
//Regular font-family:'Rockwell W01'; font-weight:400; font-style:normal;