.field--type-text-with-summary {
  p, ul, ol, table {
    margin-top: $base-font-size;
    margin-bottom: $base-font-size;
    line-height: 1.2;
  }

  ul, ol {
    list-style: disc outside;
    margin-left: 25px;
  }

  strong {
    font-weight: bold;
  }

  em {
    font-style: italic;
  }
}
