/**
 * $BUTTONS
 */
/* Base Button */
.button {
  display: inline-block;
  height: 2em;
  margin: rhythm(2) 0;
  padding: 0 1.2em;

  @include background-image(linear-gradient($grey, $dark-grey));
  border: none;
  @include single-text-shadow($grey);
  line-height: 2;
  text-transform: uppercase;
  vertical-align: middle;
  @include nowrap;
  @include font-size(14px);
  font-family: $header;
  @include border-radius(8px);

  overflow: visible;
  cursor: pointer;

  .panels-sidebar-second & {
    margin-top: 0;//when in sidebar right
  }

  .lt-ie9 & {
    background-color:$dark-grey;
  }

  &:hover {

  }

  &:active,
  &:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) inset;
  }

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  a {
    color:$tcdc-white;

    &:hover {
      color:$tcdc-green;
    }
    &:active {
      color: darken($tcdc-green, 20%);
    }
  }
}

/* Fill width of container */
.button--full {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  text-align: center;
}


.button--tiny {
  text-transform: none;
  @include font-size(14px);
  letter-spacing: 0;
  padding: 0 .5em;
  background-color:$light-grey;

  a {
    color: $grey;
  }

}


/* Inherit sizing from parent  */
.button--natural {
  vertical-align: baseline;
  font-size: inherit;
  line-height: inherit;
  height: auto;
  padding-right: 0.5em;
  padding-left: 0.5em;
  letter-spacing: 0;
}

/* Button Functions */
.button--primary, .button-primary {
  background-color: $tcdc-green;
}

.button--secondary {
  background-color: transparent;
  border-color: $tcdc-green;
  @include rhythm-borders(1px);
  color: #000;

  &:hover {
    border-color: $grey;
    background-color: transparent;
    color: $mid-grey;
  }
}

.button--positive {
  background-color: $tcdc-blue;
  &:hover {
    background-color: darken($tcdc-blue, 10%);
  }
}

.button--negative {
  background-color: $grey;
  &:hover {
    background-color: darken($grey, 10%);
  }
}

.button--disabled,
.button--disabled:hover,
.button--disabled:active,
.button--disabled:focus {
  background-color: #ddd;
  color: #777;
  cursor: default;
  box-shadow: none;
}

/* Adjacent buttons should have some space between them. */
.button + .button,
.button + a {
  margin-left: 1em;
}

.webform-submit {
  @extend .button;
  color: #fff;

  &:hover {
    color:$tcdc-green;
  }
}
